<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Finance Api tester</title>
    <style>
      /* Your CSS styles go here */
      body {
        background-color: lightblue;
      }
      h1 {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Please select From here</h1>
    <button>Finacial Data</button>
    <button>Statistics</button>
    <p>Filters</p>
    <p>Stocks Options</p>
    <button>Interantional Business Machine</button>
    <button>Apple.inc</button>
  </body>
</html>
